//colors
$bg-color: #F1F1F1;

$invalid-color: #e8344d;

$text-color: #666666;
$dark-text: #202224;
$deep-blue-text: #1F2B60;

$border-color: #E0E0E0;

//media
$extra-large: 1680px;
$large: 1540px;
$medium: 1280px;
$tablet: 1028px;
$tablet-small: 800px;
$mobile: 600px;
$mobile-small: 376px;

//other
$global-font: Arial, "Helvetica Neue", sans-serif;
$global-font-size: 14px;
